:root {
    --card-color: #003539;
    --card-content-padding: 1vmax;
}

.upgrade-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    margin: 0;
}

.text-style {
    color: lime;
    font-size: 1.5vmax;
}

.list-container {
    height: 100%;

    overflow-y: auto;

    width: 50%;
}

.parameter-card {
    background-color: var(--card-color);
    border-radius: 1vmax;
    padding: 1vmax;
}

.upgrade-card {
    display: flex;
    border-radius: 1vmax;
    background-color: var(--card-color);

    padding: var(--card-content-padding);
}

.buy-button {
}

.upgrade {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.upgrade-resources {
    display: flex;
    gap: 1vmax;
}

.upgrade-resource {
    gap: 0.1vmax;
}

.upgrade-resource img {
    height: 1vmax;
}
