body {
    background-color: #111111;

    overflow: hidden;
    width: 100vw;
    height: 100vh;
    margin: 0;

    user-select: none
}

.space {
    background-image: url("sprites/space.png");
    background-repeat: repeat;

    position: relative;

    width: 200000px;
    height: 200000px;

    overflow: hidden;
}

.object {
    position: absolute;
}

.image {
    position: absolute;
    transform: translate(-50%, -50%);
}

.bullet {
    position: absolute;
    height: 4px;
    background: linear-gradient(90deg, rgba(128,0,0,0.2) 0%, rgba(255,100,0,1) 100%);
    transform: translate(-100%, 0);
}

.debugSpace {
    position: absolute;

    width: 200000px;
    height: 200000px;
    /*transform: translate(-50%, -50%);*/
}

.debugDot {
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.debugText {
    position: absolute;

    color: lime;
    font-size: 10px;
    font-family: "consolas";
}

.debugInfo {
    left: 0;
    top: 0;
    font-size: 14px;
}

.particle {
    position: absolute;
    width: 10px;
    height: 10px;
    transform: translate(-50%, -50%);
}