body {
    background-color: #111111;

    overflow: hidden;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.space {
    background-image: url("sprites/space.png");
    background-repeat: repeat;

    position: relative;

    width: 200000px;
    height: 200000px;

    overflow: hidden;
}

.object {
    position: absolute;
}